@{
    string views = (string)ContextAccessor.HttpContext.Request.Cookies[ViewDataConstants.Views];

    List<int> viewList = new List<int>();

    if (!string.IsNullOrWhiteSpace(views))
    {
        viewList = views.Split(",").Select(Int32.Parse).ToList();
    }

    string active = ViewBag.Active == null ? this.ViewContext.RouteData.Values["controller"].ToString() : ViewBag.Active;
}


<div class="horizontal-menu-wrapper">
    <div class="header-navbar navbar-expand-sm navbar navbar-horizontal floating-nav navbar-light navbar-shadow menu-border container-xxl" role="navigation" data-menu="menu-wrapper" data-menu-type="floating-nav">
        <div class="navbar-header">
            <ul class="nav navbar-nav flex-row">
                <li class="nav-item me-auto">
                    <a class="navbar-brand"
                       asp-action="Index" asp-area="Dashboard" asp-controller="Home">
                        <h2 class="brand-text">@Localizer.Get("Dashboard")</h2>
                    </a>
                </li>
                <li class="nav-item nav-toggle">
                    <a class="nav-link modern-nav-toggle pe-0" data-bs-toggle="collapse">
                        <i class="d-block d-xl-none text-primary toggle-icon font-medium-4" data-feather="x"></i><i class="d-none d-xl-block collapse-toggle-icon font-medium-4  text-primary" data-feather="disc"></i>
                    </a>
                </li>
            </ul>
        </div>
        <div class="shadow-bottom"></div>
        <!-- Horizontal menu content-->
        <div class="navbar-container main-menu-content" data-menu="menu-container">
            <!-- include ../../../includes/mixins-->
            <ul class="nav navbar-nav" id="main-menu-navigation" data-menu="menu-navigation">
                
                @if (viewList.Contains((int)DashboardViewEnum.Home))
                {
                    <li id="HomeList" class="@(active == DashboardViewEnum.Home.ToString() ? "active" : "") nav-item">
                        <a class="nav-link d-flex align-items-center" asp-action="Index" asp-controller="Home" asp-area="Dashboard">
                            <i data-feather="home"></i>
                            <span data-i18n="home">
                                @Localizer.Get("Home")
                            </span>
                        </a>
                    </li>   
                }

                @if (viewList.Contains((int)DashboardViewEnum.Category))
                {
                    <li id="CategoryList" class="@(active == DashboardViewEnum.Category.ToString() ? "active" : "") nav-item">
                        <a class="nav-link d-flex align-items-center" asp-action="Index" asp-controller="Category" asp-area="MainDataEntity">
                            <i data-feather="list"></i>
                            <span data-i18n="list">
                                @Localizer.Get("Categories")
                            </span>
                        </a>
                    </li>   
                }

                @if (viewList.Contains((int)DashboardViewEnum.Size))
                {
                    <li id="SizeList" class="@(active == DashboardViewEnum.Size.ToString() ? "active" : "") nav-item">
                        <a class="nav-link d-flex align-items-center" asp-action="Index" asp-controller="Size" asp-area="MainDataEntity">
                            <i data-feather="umbrella"></i>
                            <span data-i18n="umbrella">
                                @Localizer.Get("Sizes")
                            </span>
                        </a>
                    </li>   
                }

                @if (viewList.Contains((int)DashboardViewEnum.Color))
                 {
                     <li id="ColorList" class="@(active == DashboardViewEnum.Color.ToString() ? "active" : "") nav-item">
                         <a class="nav-link d-flex align-items-center" asp-action="Index" asp-controller="Color" asp-area="MainDataEntity">
                             <i data-feather="git-branch"></i>
                             <span data-i18n="git-branch">
                                 @Localizer.Get("Colors")
                             </span>
                         </a>
                     </li>
                 }
                
                
                @if (viewList.Contains((int)DashboardViewEnum.Product))
                {
                    <li id="ProductList" class="@(active == DashboardViewEnum.Product.ToString() ? "active" : "") nav-item">
                        <a class="nav-link d-flex align-items-center" asp-action="Index" asp-controller="Product" asp-area="ProductEntity">
                            <i data-feather="shopping-cart"></i>
                            <span data-i18n="shopping-cart">
                                @Localizer.Get("Products")
                            </span>
                        </a>
                    </li>   
                }

                @if (viewList.Contains((int)DashboardViewEnum.ContactForm))
                {
                    <li id="ContactFormList" class="@(active == DashboardViewEnum.ContactForm.ToString() ? "active" : "") nav-item">
                        <a class="nav-link d-flex align-items-center" asp-action="Index" asp-controller="ContactForm" asp-area="ContactFormEntity">
                            <i data-feather="phone"></i>
                            <span data-i18n="phone">
                                @Localizer.Get("ContactForms")
                            </span>
                        </a>
                    </li>
                }
                
                @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrator) ||
                     viewList.Contains((int)DashboardViewEnum.DashboardAccessLevel) ||
                     viewList.Contains((int)DashboardViewEnum.DashboardView) ||
                     viewList.Contains((int)DashboardViewEnum.DashboardAdministrationRole) )
                {
                    <li class="dropdown nav-item
                    @(active == DashboardViewEnum.DashboardAdministrator.ToString() ? "active" : "")
                    @(active == DashboardViewEnum.DashboardAccessLevel.ToString() ? "active" : "")
                    @(active == DashboardViewEnum.DashboardView.ToString() ? "active" : "")
                    @(active == DashboardViewEnum.DashboardAdministrationRole.ToString() ? "active" : "")
                    @(active == DashboardViewEnum.Setting.ToString() ? "active" : "")" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown">
                        <i data-feather="package"></i><span data-i18n="@Localizer.Get("DashboardAdministration")">@Localizer.Get("DashboardAdministration")</span>
                    </a>
                    <ul class="dropdown-menu" data-bs-popper="none">

                        @if (viewList.Contains((int)DashboardViewEnum.Setting))
                        {

                            <li data-menu=""
                                class="@(active == DashboardViewEnum.Setting.ToString() ? "active" : "")">
                                <a class="dropdown-item d-flex align-items-center"
                                   asp-action="Index" asp-area="SettingEntity"
                                   asp-controller="Setting"
                                   data-bs-toggle="" data-i18n="Settings">
                                    <i data-feather="settings"></i>
                                    <span data-i18n="Settings">@Localizer.Get("Settings")</span>
                                </a>
                            </li>
                        }
                        
                        @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrator))
                        {

                            <li data-menu=""
                                class="@(active == DashboardViewEnum.DashboardAdministrator.ToString() ? "active" : "")">
                                <a class="dropdown-item d-flex align-items-center"
                                   asp-action="Index" asp-area="DashboardAdministration"
                                   asp-controller="DashboardAdministrator"
                                   data-bs-toggle="" data-i18n="DashboardAdministrators">
                                    <i data-feather="users"></i>
                                    <span data-i18n="DashboardAdministrators">@Localizer.Get("DashboardAdministrators")</span>
                                </a>
                            </li>
                        }

                        @if (viewList.Contains((int)DashboardViewEnum.DashboardAccessLevel))
                        {
                            <li data-menu=""
                                class="@(active == DashboardViewEnum.DashboardAccessLevel.ToString() ? "active" : "")">
                                <a class="dropdown-item d-flex align-items-center"
                                   asp-action="Index" asp-area="DashboardAdministration"
                                   asp-controller="DashboardAccessLevel"
                                   data-bs-toggle="" data-i18n="DashboardAccessLevel">
                                    <i data-feather="key"></i>
                                    <span data-i18n="DashboardAccessLevel">@Localizer.Get("DashboardAccessLevels")</span>
                                </a>
                            </li>
                        }

                        @if (viewList.Contains((int)DashboardViewEnum.DashboardView))
                        {

                            <li data-menu=""
                                class="@(active == DashboardViewEnum.DashboardView.ToString() ? "active" : "")">
                                <a class="dropdown-item d-flex align-items-center"
                                   asp-action="Index" asp-area="DashboardAdministration"
                                   asp-controller="DashboardView"
                                   data-bs-toggle="" data-i18n="DashboardView">
                                    <i data-feather="grid"></i>
                                    <span data-i18n="DashboardView">@Localizer.Get("DashboardViews")</span>
                                </a>
                            </li>
                        }

                        @if (viewList.Contains((int)DashboardViewEnum.DashboardAdministrationRole))
                        {

                            <li data-menu=""
                                class="@(active == DashboardViewEnum.DashboardAdministrationRole.ToString() ? "active" : "")">
                                <a class="dropdown-item d-flex align-items-center"
                                   asp-action="Index" asp-area="DashboardAdministration"
                                   asp-controller="DashboardAdministrationRole"
                                   data-bs-toggle="" data-i18n="DashboardAdministrationRole">
                                    <i data-feather="settings"></i>
                                    <span data-i18n="DashboardAdministrationRole">@Localizer.Get("DashboardAdministrationRoles")</span>
                                </a>
                            </li>
                        }

                    </ul>
                </li>
                }
                
                @if (viewList.Contains((int)DashboardViewEnum.DBLogs) ||
                     viewList.Contains((int)DashboardViewEnum.Audit) )
                {
                    <li class="dropdown nav-item
                    @(active == DashboardViewEnum.DBLogs.ToString() ? "active" : "")
                    @(active == DashboardViewEnum.Audit.ToString() ? "active" : "")" data-menu="dropdown">
                    <a class="dropdown-toggle nav-link d-flex align-items-center" href="#" data-bs-toggle="dropdown">
                        <i data-feather="package"></i><span data-i18n="@Localizer.Get("system")">@Localizer.Get("system")</span>
                    </a>
                    <ul class="dropdown-menu" data-bs-popper="none">

                        @if (viewList.Contains((int)DashboardViewEnum.DBLogs))
                        {
                            <li data-menu=""
                                class="@(active == DashboardViewEnum.DBLogs.ToString() ? "active" : "")">
                                <a class="dropdown-item d-flex align-items-center"
                                   asp-action="Index" asp-area="LogEntity"
                                   asp-controller="DBLogs"
                                   data-bs-toggle="" data-i18n="DBLogs">
                                    <i data-feather="x-circle"></i>
                                    <span data-i18n="DBLogs">@Localizer.Get("DBLogs")</span>
                                </a>
                            </li>
                        }
                        @if (viewList.Contains((int)DashboardViewEnum.Audit))
                        {
                            <li data-menu=""
                                class="@(active == DashboardViewEnum.Audit.ToString() ? "active" : "")">
                                <a class="dropdown-item d-flex align-items-center"
                                   asp-action="Index" asp-area="AuditEntity"
                                   asp-controller="Audit"
                                   data-bs-toggle="" data-i18n="Audit">
                                    <i data-feather="file-text"></i>
                                    <span data-i18n="Audit">@Localizer.Get("Audits")</span>
                                </a>
                            </li>
                        }
                    </ul>
                </li>
                }
                
            </ul>
        </div>
    </div>
</div>
