@{
    ViewData["Title"] = Localizer.Get("Home");
}

<div class="clients-work">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="clients-des">
                    @if (Localizer.Get("CultureState") == "ar")
                    {
                        <h2>
                            <span class="primary-color">ألماساتك</span>
                            في
                            <span class="primary-color">خزائن</span>
                            آمنة!
                        </h2>

                    }
                    else
                    {
                        <h2>
                            Your
                            <span class="primary-color">Diamonds</span>
                            are in secured
                            <span class="primary-color">Lockers</span>!
                        </h2>
                    }
                </div>
            </div>
            <div class="col-lg-6">
                <div class="clients-photo">
                    <img src="~/assets/images/clients-photo.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="features" class="abouts">
    <div class="container">
        <div class="about-photo">
            <img src="~/assets/images/about-photo.png" alt="" class="img-fluid" />
        </div>
        <div class="row pb-lg-0 pb-30">
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <img src="~/assets/images/24-hours.png" alt="" />
                    </div>
                    <h2>@Localizer.Get("AVAILABILITY") </h2>
                    <p>@Localizer.Get("24 / 7 lockers at your service")</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <img src="~/assets/images/water.png" alt="" />
                    </div>
                    <h2>@Localizer.Get("Non-contact") </h2>
                    <p>@Localizer.Get("Intelligent lockers are hygienic and clean")</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <img src="~/assets/images/save-money.png" alt="" />
                    </div>
                    <h2>@Localizer.Get("COST REDUCTION") </h2>
                    <p>@Localizer.Get("Unneeded human presence")</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <img src="~/assets/images/shield.png" alt="" />
                    </div>
                    <h2>@Localizer.Get("Safety")</h2>
                    <p>@Localizer.Get("Integrated camera surveillance as needed")</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="teams"></div>
<div class="our-project">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="project-item">
                            <div class="project-title">
                                <h2>@Localizer.Get("01")</h2>
                                <h3>@Localizer.Get("Rent or Buy?")</h3>
                            </div>
                            <p>
                                @Localizer.Get("Our team will be glad to support you with this decision")
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @if (Localizer.Get("CultureState") == "ar")
                                {
                                    <br />
                                }
                            </p>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="project-item">
                            <div class="project-title">
                                <h2>@Localizer.Get("02")</h2>
                                <h3>@Localizer.Get("After Sale Service")</h3>
                            </div>
                            <p>
                                - @Localizer.Get("2 years warranty") <br />
                                - @Localizer.Get("Delivery to your location") <br />
                                - @Localizer.Get("Installation") <br />
                                - @Localizer.Get("Staff training") <br />
                                - @Localizer.Get("Maintenance") <br />
                                - @Localizer.Get("Spare parts")
                            </p>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="project-item">
                            <div class="project-title">
                                <h2>@Localizer.Get("03")</h2>
                                <h3>@Localizer.Get("Guaranteed Safe & Secured")</h3>
                            </div>
                            <p>
                                @Localizer.Get("If anything (non-consumable) goes wrong, we will cover your loss")
                                <br />
                                <br />
                                <br />
                                <br />
                                <br />
                                @if (Localizer.Get("CultureState") == "ar")
                                {
                                    <br />
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="service-deitals">
                            @if (Localizer.Get("CultureState") == "ar")
                            {
                                <h2>
                                    يفضل عملاء دايموند لوكرز تخصيص
                                    <span class="primary-color">ألوان</span>  و
                                    <span class="primary-color">خصائص</span>
                                    <span class="primary-color">لخزائنهم</span>
                                </h2>
                            }
                            else
                            {
                                <h2>
                                    @Localizer.Get("Our clients love the customizable ")<span class="primary-color">@Localizer.Get("feature")</span>  @Localizer.Get("and") <span class="primary-color">@Localizer.Get("colors")</span> @Localizer.Get("of their Diamond ")
                                    <span class="primary-color">@Localizer.Get("Lockers")</span>
                                </h2>
                            }
                            <div class="mt-md-50 mt-20">
                                <p>
                                    @Localizer.Get("Diamond Lockers allows you to keep reliable cloud-based records with multiple data options. Options include what is stored, who has access, and when to permit access.")
                                    <br />
                                    <br />
                                    @if (Localizer.Get("CultureState") == "ar")
                                    {
                                        <Text>
                                        إن
                                        <span class="primary-color">@Localizer.Get(" خزائن ")</span>
                                        الاستخدام الذاتي المدعمة بخاصية بصمة الوجه تتمتع بشريحة كبيرة من المستخدمين.
                                        </Text>

                                    }
                                    else
                                    {
                                        @Localizer.Get("Our facial recognition self-service")
                                        <span class="primary-color">@Localizer.Get(" lockers ")</span>
                                        @Localizer.Get("have large-scale applications.")
                                    }
                                    <br />
                                    <br />
                                    @Localizer.Get("Business usage includes:")
                                    <div class="business-types">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-building"></i>
                                                    </div>
                                                    <span>  @Localizer.Get("Apartment Buildings")</span>

                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-sharp fa-solid fa-plane-departure"></i>
                                                    </div>
                                                    <span> @Localizer.Get("Airports")</span>

                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-briefcase"></i>
                                                    </div>
                                                    <span> @Localizer.Get("Offices")</span>

                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-graduation-cap"></i>
                                                    </div>
                                                    <span> @Localizer.Get("Universities")</span>

                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-building-columns"></i>
                                                    </div>
                                                    <span>  @Localizer.Get("Government Institutions")</span>

                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-shop"></i>
                                                    </div>
                                                    <span> @Localizer.Get("Supermarkets")</span>

                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                    </div>
                                                    <span>@Localizer.Get("Shopping Malls")</span>

                                                </div>

                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-water-ladder"></i>
                                                    </div>
                                                    <span> @Localizer.Get("Recreation Centers")</span>

                                                </div>

                                            </div>
                                            <div id="products" class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-boxes-stacked"></i>
                                                    </div>
                                                    <span> @Localizer.Get("Parcel Pickup and Delivery")</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service-photo">
                            <img src="~/assets/images/service-photo.png" alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div  class="gallery text-center">
    <h2>@Localizer.Get("Our Products")</h2>
    <div class="container mt-30">
        <div class="row">
            <h6 class="mb-30">@Localizer.Get("Filter by category")</h6>
            <div class="controls">
                <button type="button" class="control" data-filter="all">@Localizer.Get("All")</button>
                <button type="button" class="control" data-filter=".smart">@Localizer.Get("Smart Lockers")</button>
                <button type="button" class="control" data-filter=".parcel">@Localizer.Get("Parcel Lockers")</button>
            </div>
        </div>
        <div class="row  mt-40">
            <h6 class="mb-30">@Localizer.Get("Filter by size")</h6>
            <div class="controls">
                <button type="button" class="control" data-filter="all">@Localizer.Get("All")</button>
                <button type="button" class="control" data-filter=".size-6">@Localizer.Get("6")</button>
                <button type="button" class="control" data-filter=".size-12">@Localizer.Get("12")</button>
                <button type="button" class="control" data-filter=".size-24">@Localizer.Get("24")</button>
                <button type="button" class="control" data-filter=".size-36">@Localizer.Get("36")</button>
                <button type="button" class="control" data-filter=".size-48">@Localizer.Get("48")</button>
            </div>
        </div>
        <div class="row  mt-40">
            <h6 class="mb-30">@Localizer.Get("Filter by color")</h6>
            <div class="controls">
                <button type="button" class="control" data-filter="all">@Localizer.Get("All")</button>
                <button type="button" class="control" data-filter=".beige">@Localizer.Get("Beige")</button>
                <button type="button" class="control" data-filter=".turquoise">@Localizer.Get("Turquoise")</button>
                <button type="button" class="control" data-filter=".green">@Localizer.Get("Green")</button>
                <button type="button" class="control" data-filter=".red">@Localizer.Get("Red")</button>
                <button type="button" class="control" data-filter=".blue">@Localizer.Get("Blue")</button>
                <button type="button" class="control" data-filter=".white">@Localizer.Get("White")</button>
                <button type="button" class="control" data-filter=".orange">@Localizer.Get("Orange")</button>
                <button type="button" class="control" data-filter=".brown">@Localizer.Get("Brown")</button>
            </div>
        </div>
        <div class="filterContainer photo__gallery ">
            <div class="card-item mix parcel effect7">
                <a href="~/assets/images/products/Parcel2.jpg" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Parcel2.jpg" alt="@Localizer.Get("Parcel locker sets")" class="img-fluid " />
                    <div class="des">
                        <h2>@Localizer.Get("Parcel locker sets")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix parcel">
                <a href="~/assets/images/products/Parcel3.jpg" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Parcel3.jpg" alt="@Localizer.Get("Parcel locker control unit")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("Parcel locker control unit")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix parcel">
                <a href="~/assets/images/products/Parcel6.jpg" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Parcel6.jpg" alt="@Localizer.Get("Parcel tower")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("Parcel tower")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix parcel">
                <a href="~/assets/images/products/Refrigerator3.jpg" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Refrigerator3.jpg" alt="@Localizer.Get("Refrigerated locker")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("Refrigerated locker")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart blue size-6">
                <a href="~/assets/images/products/Size 6/Bar Code_Blue.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 6/Bar Code_Blue.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart green size-6">
                <a href="~/assets/images/products/Size 6/Bar code_Light Green.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 6/Bar code_Light Green.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart white size-6">
                <a href="~/assets/images/products/Size 6/Facial_White.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 6/Facial_White.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("Facial Recognition")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart red size-6">
                <a href="~/assets/images/products/Size 6/Fingerprint_Red.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 6/Fingerprint_Red.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart orange size-6">
                <a href="~/assets/images/products/Size 6/RFID_Yellow.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 6/RFID_Yellow.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>

            <div class="card-item mix smart blue size-12">
                <a href="~/assets/images/products/Size 12/Bar Code_Blue.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Bar Code_Blue.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart green size-12">
                <a href="~/assets/images/products/Size 12/Bar code_Light Green.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Bar code_Light Green.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart white size-12">
                <a href="~/assets/images/products/Size 12/Facial_White.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Facial_White.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("Facial Recognition")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart orange size-12">
                <a href="~/assets/images/products/Size 12/Fingerprint_Orange.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Fingerprint_Orange.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart red size-12">
                <a href="~/assets/images/products/Size 12/Fingerprint_Red.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Fingerprint_Red.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart brown size-12">
                <a href="~/assets/images/products/Size 12/Passpord_Brown.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Passpord_Brown.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart turquoise size-12">
                <a href="~/assets/images/products/Size 12/Passpord_Cyan.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Passpord_Cyan.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart green size-12">
                <a href="~/assets/images/products/Size 12/RFID_Green.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/RFID_Green.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart blue size-12">
                <a href="~/assets/images/products/Size 12/RFID_Sky Blue.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/RFID_Sky Blue.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart orange size-12">
                <a href="~/assets/images/products/Size 12/RFID_Yellow.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/RFID_Yellow.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart beige size-12">
                <a href="~/assets/images/products/Size 12/Size 12.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Size 12.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart brown size-12">
                <a href="~/assets/images/products/Size 12/Wechat code_Brown.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/Wechat code_Brown.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart red blue beige size-12">
                <a href="~/assets/images/products/Size 12/12.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 12/12.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>

            <div class="card-item mix smart brown size-24">
                <a href="~/assets/images/products/Size 24/24 doors fingerprint.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 24/24 doors fingerprint.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart white size-24">
                <a href="~/assets/images/products/Size 24/24 Doors password.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 24/24 Doors password.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart beige size-24">
                <a href="~/assets/images/products/Size 24/size 24.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 24/size 24.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>

            <div class="card-item mix smart blue size-36">
                <a href="~/assets/images/products/Size 36/36 size.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 36/36 size.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>
            <div class="card-item mix smart beige size-36">
                <a href="~/assets/images/products/Size 36/36.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 36/36.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>

            <div class="card-item mix smart blue size-48">
                <a href="~/assets/images/products/Size 48/IMG_8920.png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 48/IMG_8920.png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid" />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>

            <div class="card-item mix smart orange size-48">
                <a href="~/assets/images/products/Size 48/48 doors coin (1).png" class="photo__item d-block w-100">
                    <img src="~/assets/images/products/Size 48/48 doors coin (1).png" alt="@Localizer.Get("Smart Lockers")" class="img-fluid " />
                    <div class="des">
                        <h2>@Localizer.Get("")</h2>
                    </div>
                </a>
            </div>

        </div>
    </div>
</div>
<div id="about" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-0 order-1">
                <div class="larg-circle">
                    <img src="~/assets/images/about-circle-photo.jpg" alt="" class="img-fluid" />
                    <div class="circle-des">
                        <h2>@Localizer.Get("About Us")</h2>
                        <p>
                            @Localizer.Get("Streamlined operations and better inventory control make Diamond Lockers 1st for intelligent locker storage management in Saudi Arabia")
                        </p>
                        <div class="cus__btn"><a asp-action="about" asp-controller="Home"> @Localizer.Get("learn More")</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 order-0">
                <div class="small-circle">
                    <img src="~/assets/images/fav_w.png" alt="">
                </div>
            </div>
        </div>
        <div class="about-us-card">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-card">
                        <h2>@Localizer.Get("Mission")</h2>
                        <p>
                            @Localizer.Get("To offer accessible, safe, and efficient state-of-the-art technology without compromising customer service.")
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-card">
                        <h2>@Localizer.Get("Vision")</h2>
                        <p>
                            @Localizer.Get("To be Saudi Arabia's number-one choice for innovation in intelligent storage locker solutions.")
                            @if (Localizer.Get("CultureState") == "ar")
                            {
                                <br />
                                <br />
                            }
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="couter d-none">
    <div class="container">
        <div class="row">
            <div class="col-lg-7">
                <div class="main-couter">
                    <div class="row">
                        <div class="col-lg-6 col-6">
                            <div class="couter-des">
                                <h2 class="num"><span class="numCounter">@Localizer.Get("166")</span>+</h2>
                                <p>@Localizer.Get("Our current team count, ​vulputate enim nulla aliquet")</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="couter-des">
                                <h2 class="num"><span class="numCounter">190</span>+</h2>
                                <p>Countries ​Duis aute irure dolor in reprehenderit</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="couter-des">
                                <h2 class="num"><span class="numCounter">120</span>+</h2>
                                <p>Customer around the world within 6 years</p>
                            </div>
                        </div>
                        <div class="col-lg-6 col-6">
                            <div class="couter-des">
                                <h2 class="num"><span class="numCounter">13</span>+</h2>
                                <p>Duis aute irure dolor in reprehenderit in voluptate</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="counter-photo">
                    <img src="~/assets/images/counter-photo.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>