@model ContactForm
@{
    string active = (string)ViewBag.Active;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <meta name="keywords" content="@Localizer.Get("Smart lockers, Smart storage, e lockers, storage alternatives, office storage solutions, what is a smart locker, face recognition locker, touchless lockers, digital locker, smart locker companies ,locker technology")" />
    <meta name="description" content="@Localizer.Get("Streamlined operations and better access control make Diamond Lockers 1st for intelligent locker storage management in Saudi Arabia")" />
    
    <title>@ViewData["Title"] - @Localizer.Get("Diamond Lockers")</title>
    <link rel="icon" type="image/x-icon" href="~/assets/images/fav.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/lib/lightGallery-master/lightGallery-master/dist/css/lightgallery.css" />
    @if (Localizer.Get("CultureState") == "ar")
    {
        <link rel="stylesheet" href="~/assets/styles/ar/styles.min.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/assets/styles/en/styles.min.css" />
    }
    <style>

        @if (Localizer.Get("CultureState") == "ar")
        {
            <Text>
                * {
                    font-family: 'Cairo', sans-serif;
                }
            </Text>
        }

        .card-item a img {
            border: 2px solid #997757;
            border-radius: 20px;
            padding: 1px;
        }

        .project-item{
            height:19rem;
        }

        .active-filter {
            background-color: #c9c3b0 !important;
        }
        
        #cover-spin {
            position:fixed;
            width:100%;
            left:0;right:0;top:0;bottom:0;
            background-color: rgba(255,255,255,0.7);
            z-index:9999;
            display:none;
        }
        
        @@-webkit-keyframes spin {
             from {-webkit-transform:rotate(0deg);}
             to {-webkit-transform:rotate(360deg);}
         }
        
        @@keyframes spin {
             from {transform:rotate(0deg);}
             to {transform:rotate(360deg);}
         }
        
        .loading-image {
                    ontent: '';
                    display: block;
                    position: absolute;
                    left: 45%;
                    top: 40%;
                    width: 150px;
                    height: 150px;
                    border-style: solid;
                    border-color: black;
                    border-top-color: transparent;
                    border-width: 4px;
                    border-radius: 50%;
                    -webkit-animation: spin .8s linear infinite;
                    animation: spin .8s none infinite;
                }
    </style>
</head>
<body>
    <div id="cover-spin">
        <img class="loading-image" src="~/assets/images/logo.png" alt="loading..">
    </div>

    <div class="lockers">

        <div class="menu">
            <div class="container">
                <nav class="navbar navbar-expand-xl navbar-light">
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img src="~/assets/images/logo.png" alt="" class="img-fluid" />
                    </a>
                    <button class="navbar-toggler nav-icon" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="mobile-logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="~/assets/images/logo.png" alt=""
                                     class="img-fluid logo-mop d-xl-none d-lg-block" />
                            </a>
                        </div>

                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link @(active == "Home"? "active": "" )" aria-current="page" asp-action="Index" asp-controller="Home">@Setting.Get(Localizer.Get("home"))</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home" asp-fragment="features">@Setting.Get(Localizer.Get("features"))</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home" asp-fragment="services">@Setting.Get(Localizer.Get("services"))</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home" asp-fragment="products">@Setting.Get(Localizer.Get("products"))</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(active == "About"? "active": "" )" asp-action="Index" asp-controller="Home" asp-fragment="about">@Setting.Get(Localizer.Get("about"))</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-fragment="contact">@Setting.Get(Localizer.Get("contact"))</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-action="Culture" asp-controller="Home" asp-route-culture="@Localizer.Get("CultureVal")">@Setting.Get(Localizer.Get("culture"))</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        @RenderBody()

        <div id="contact" class="contact-us">
            <div class="container">
                <div class="main-touch">
                    <div class="text-center">

                        <div class="contact-photo">
                            <img src="~/assets/images/contact-photo.png" alt="" class="img-fluid" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="get-in-touch">
                                <h2>@Setting.Get(Localizer.Get("footerTitle"))</h2>
                                <h3>
                                    @Html.Raw(Setting.Get(Localizer.Get("footerDesc")))
                                </h3>
                            </div>
                            <div class="ours-contact">

                                <div class="soical-contact">
                                    <img src="~/assets/images/mail.png" alt="" class="img-fluid" />
                                    <div class="des">
                                        <h2>@Setting.Get(Localizer.Get("emailTitle"))</h2>
                                        <a href="mailto:@Setting.Get(Localizer.Get("emailVal"))">@Setting.Get(Localizer.Get("emailVal"))</a>
                                    </div>
                                </div>
                                <div class="soical-contact">
                                    <img src="~/assets/images/phone-call.png" alt="" class="img-fluid" />
                                    <div class="des">
                                        <h2>@Setting.Get(Localizer.Get("phoneTitle"))</h2>
                                        <a href="tel:@Setting.Get(Localizer.Get("phoneVal"))">@Setting.Get(Localizer.Get("phoneVal"))</a>
                                    </div>
                                </div>
                                <div class="soical-contact">
                                    <img src="~/assets/images/location.png" alt="" class="img-fluid" />
                                    <div class="des">
                                        <h2>@Setting.Get(Localizer.Get("addressTitle"))</h2>
                                        <p>
                                            @Html.Raw(Setting.Get(Localizer.Get("addressDesc")))
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form asp-action="Contact" id="contactForm" class="main-form border border-2 border-dark rounded p-20">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <label asp-for="Type">@Setting.Get(Localizer.Get("formTypeTitle"))</label>
                                <select asp-for="Type" class="form-select" aria-label="Type">
                                    <option value="Individuals">@Setting.Get(Localizer.Get("formType1")) </option>
                                    <option value="Companies">@Setting.Get(Localizer.Get("formType2"))</option>
                                </select>

                                <label asp-for="Name">
                                    @Setting.Get(Localizer.Get("formNameTitle"))
                                    <span class="text-danger"> *</span>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="@Setting.Get(Localizer.Get("formNameDesc"))" required />

                                <label asp-for="Phone">
                                    @Setting.Get(Localizer.Get("formPhoneTitle"))
                                    <span class="text-danger"> *</span>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </label>
                                <input type="tel" asp-for="Phone" class="form-control" placeholder="@Setting.Get(Localizer.Get("formPhoneDesc"))" required />

                                <label asp-for="Email">
                                    @Setting.Get(Localizer.Get("formEmailTitle"))
                                    <span class="text-danger"> *</span>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </label>
                                <input type="email" asp-for="Email" class="form-control" placeholder="@Setting.Get(Localizer.Get("formEmailDesc"))" required />

                                <label asp-for="Service">
                                    @Setting.Get(Localizer.Get("formServiceTitle"))
                                </label>
                                <select asp-for="Service" class="form-select" aria-label="Service">
                                    <option value="Rent">@Setting.Get(Localizer.Get("formService1"))</option>
                                    <option value="Buy">@Setting.Get(Localizer.Get("formService2"))</option>
                                    <option value="Enquiry">@Setting.Get(Localizer.Get("formService3"))</option>
                                </select>

                                <label asp-for="Message">
                                    @Setting.Get(Localizer.Get("formMessageTitle"))
                                    <span class="text-danger"> *</span>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </label>
                                <textarea class="form-control" placeholder="@Setting.Get(Localizer.Get("formMessageDesc"))" asp-for="Message" rows="3" required></textarea>

                                <button type="button" class="btn btn-primary text-white mb-10" onclick="formSubmit()">@Setting.Get(Localizer.Get("formSubmit"))</button>
                                <p id="successMsg" class="text-success">@Setting.Get(Localizer.Get("formSuccessMsg"))</p>
                                <p id="errorMsg" class="text-danger">@Setting.Get(Localizer.Get("formErrorMsg"))</p>
                                <p id="incompleteMsg" class="text-danger">@Setting.Get(Localizer.Get("formIncompleteMsg"))</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <p>© @DateTime.UtcNow.Year @Localizer.Get("Copyright. All Rights Reserved")</p>
            </div>
        </div>
    </div>

    <script src="~/assets/lib/jquery/jquery.min.js"></script>
    <script src="~/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/lib/lightGallery-master/lightGallery-master/dist/lightgallery.min.js"></script>
    <script src="~/assets/lib/mixitup/mixitup.min.js"></script>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="~/assets/lib/Counter-Up-master/jquery.counterup.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
            integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
            integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA=="
            crossorigin="anonymous"></script>
    <script src="~/assets/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(function () {
            hideMessages();
        });

        function hideMessages() {
            $('#successMsg').hide();
            $('#incompleteMsg').hide();
            $('#errorMsg').hide();
        }
        function formSubmit() {

            var formId = "#contactForm";

            jQuery.validator.messages.required = "";

            if (!$(formId).valid()) {
                $('#incompleteMsg').fadeIn('slow');
                $('#incompleteMsg').delay(3000).fadeOut('slow');
                return;
            }

            //Set the URL.
            var url = $(formId).attr("action");

            var data = $(formId).serialize();

            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: data,
                success: function () {
                    $(formId)[0].reset();
                    $('#successMsg').fadeIn('slow');
                    $('#successMsg').delay(3000).fadeOut('slow');
                },
                error: function () {
                    $('#errorMsg').fadeIn('slow');
                    $('#errorMsg').delay(3000).fadeOut('slow');
                }
            })
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
