@using Entities.CoreServicesModels.ProductModels
@using Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = Localizer.Get("Home");
}

<div class="clients-work">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="clients-des">
                    <h2>
                        @Html.Raw(Setting.Get(Localizer.Get("slider")))
                    </h2>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="clients-photo">
                    <img src="~/assets/images/clients-photo.png" alt="" class="img-fluid" />
                </div>
            </div>
        </div>
    </div>
</div>

<div id="features" class="abouts">
    <div class="container">
        <div class="about-photo">
            <img src="~/assets/images/about-photo.png" alt="" class="img-fluid" />
        </div>
        <div class="row pb-lg-0 pb-30">
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <img src="~/assets/images/24-hours.png" alt="" />
                    </div>
                    <h2>@Setting.Get(Localizer.Get("feature1"))</h2>
                    <p>@Setting.Get(Localizer.Get("feature1_desc"))</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <img src="~/assets/images/water.png" alt="" />
                    </div>
                    <h2>@Setting.Get(Localizer.Get("feature2"))</h2>
                    <p>@Setting.Get(Localizer.Get("feature2_desc"))</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <img src="~/assets/images/save-money.png" alt="" />
                    </div>
                    <h2>@Setting.Get(Localizer.Get("feature3"))</h2>
                    <p>@Setting.Get(Localizer.Get("feature3_desc"))</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="about-item">
                    <div class="about-icon">
                        <img src="~/assets/images/shield.png" alt="" />
                    </div>
                    <h2>@Setting.Get(Localizer.Get("feature4"))</h2>
                    <p>@Setting.Get(Localizer.Get("feature4_desc"))</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="services" class="teams"></div>
<div class="our-project">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 mx-auto">
                <div class="row justify-content-center">
                    <div class="col-md-4">
                        <div class="project-item">
                            <div class="project-title">
                                <h2>@Localizer.Get("01")</h2>
                                <h3>@Setting.Get(Localizer.Get("service1"))</h3>
                            </div>
                            <p>
                                @Html.Raw(Setting.Get(Localizer.Get("service1_desc")))
                            </p>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="project-item">
                            <div class="project-title">
                                <h2>@Localizer.Get("02")</h2>
                                <h3>@Setting.Get(Localizer.Get("service2"))</h3>
                            </div>
                            <p>
                                @Html.Raw(Setting.Get(Localizer.Get("service2_desc")))
                            </p>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="project-item">
                            <div class="project-title">
                                <h2>@Localizer.Get("03")</h2>
                                <h3>@Setting.Get(Localizer.Get("service3"))</h3>
                            </div>
                            <p>
                                @Html.Raw(Setting.Get(Localizer.Get("service3_desc")))
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="our-service">
    <div class="container">
        <div class="row">
            <div class="col-lg-9 mx-auto">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="service-deitals">
                            @Html.Raw(Setting.Get(Localizer.Get("ServicesTitle")))
                            <div class="mt-md-50 mt-20">
                                <p>
                                    @Html.Raw(Setting.Get(Localizer.Get("ServicesDesc")))
                                    <div class="business-types">
                                        <div class="row">
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-building"></i>
                                                    </div>
                                                    <span>@Setting.Get(Localizer.Get("ServicesItem1"))</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-sharp fa-solid fa-plane-departure"></i>
                                                    </div>
                                                    <span> @Setting.Get(Localizer.Get("ServicesItem2"))</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-briefcase"></i>
                                                    </div>
                                                    <span> @Setting.Get(Localizer.Get("ServicesItem3"))</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-graduation-cap"></i>
                                                    </div>
                                                    <span> @Setting.Get(Localizer.Get("ServicesItem4"))</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-building-columns"></i>
                                                    </div>
                                                    <span>  @Setting.Get(Localizer.Get("ServicesItem5"))</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-shop"></i>
                                                    </div>
                                                    <span> @Setting.Get(Localizer.Get("ServicesItem6"))</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-cart-shopping"></i>
                                                    </div>
                                                    <span>@Setting.Get(Localizer.Get("ServicesItem7"))</span>
                                                </div>
                                            </div>
                                            <div class="col-lg-4 col-md-4 col-6">
                                                <div class="type">
                                                    <div class="type-icon">
                                                        <i class="fa-solid fa-water-ladder"></i>
                                                    </div>
                                                    <span> @Setting.Get(Localizer.Get("ServicesItem8"))</span>
                                                </div>
                                            </div>
                                            <div id="products" class="col-lg-4 col-md-4 col-6">
                                            </div>
                                        </div>
                                    </div>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="service-photo">
                            <img src="~/assets/images/service-photo.png" alt="" class="img-fluid" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="gallery text-center">
    <h2>@Setting.Get(Localizer.Get("products"))</h2>
    <div class="container mt-30">
        <div class="row">
            <h6 class="mb-30">@Setting.Get(Localizer.Get("categoryFilter"))</h6>
            <div class="controls">
                <button type="button" class="control category_btn" data-filter="0">@Setting.Get(Localizer.Get("allFilter"))</button>
                @foreach (var category in (IDictionary<string, string>)ViewData["Category"])
                {
                    <button type="button" class="control category_btn" data-filter="@category.Key">@category.Value</button>
                }
                <input type="hidden" name="Fk_Category" value="0" />
            </div>
        </div>
        <div class="row  mt-40">
            <h6 class="mb-30">@Setting.Get(Localizer.Get("sizeFilter"))</h6>
            <div class="controls">
                <button type="button" class="control size_btn" data-filter="0">@Setting.Get(Localizer.Get("allFilter"))</button>
                @foreach (var size in (IDictionary<string, string>)ViewData["Size"])
                {
                    <button type="button" class="control size_btn" data-filter="@size.Key">@size.Value</button>
                }
                <input type="hidden" name="Fk_Size" value="0" />
            </div>
        </div>
        <div class="row  mt-40">
            <h6 class="mb-30">@Setting.Get(Localizer.Get("colorFilter"))</h6>
            <div class="controls">
                <button type="button" class="control color_btn" data-filter="0">@Setting.Get(Localizer.Get("allFilter"))</button>
                @foreach (var color in (IDictionary<string, string>)ViewData["Color"])
                {
                    <button type="button" class="control color_btn" data-filter="@color.Key">@color.Value</button>
                }
                <input type="hidden" name="Fk_Color" value="0" />
            </div>
        </div>
        <div class="filterContainer photo__gallery "></div>
    </div>
</div>
<div id="about" class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 order-lg-0 order-1">
                <div class="larg-circle">
                    <img src="~/assets/images/about-circle-photo.jpg" alt="" class="img-fluid" />
                    <div class="circle-des">
                        <h2>@Setting.Get(Localizer.Get("about"))</h2>
                        <p>
                            @Html.Raw(Setting.Get(Localizer.Get("aboutDesc")))
                        </p>
                        <div class="cus__btn"><a asp-action="about" asp-controller="Home"> @Setting.Get(Localizer.Get("learnMoreBtn"))</a></div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 order-lg-1 order-0">
                <div class="small-circle">
                    <img src="~/assets/images/fav_w.png" alt="">
                </div>
            </div>
        </div>
        <div class="about-us-card">
            <div class="row">
                <div class="col-md-6">
                    <div class="about-card">
                        <h2>@Setting.Get(Localizer.Get("missionTitle"))</h2>
                        <p>
                            @Setting.Get(Localizer.Get("missionDesc"))
                        </p>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="about-card">
                        <h2>@Setting.Get(Localizer.Get("visionTitle"))</h2>
                        <p>
                            @Setting.Get(Localizer.Get("visionDesc"))
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script>
        LoadProducts();

        $(document).on("click", ".category_btn", function() {
           let category = $(this).data("filter");
           $("input[name=Fk_Category]").val(category);

           $(".category_btn").removeClass("active-filter");

           resetProducts($(this));
        });

        $(document).on("click", ".size_btn", function() {
           let size = $(this).data("filter");
           $("input[name=Fk_Size]").val(size);

           $(".size_btn").removeClass("active-filter");

           resetProducts($(this));
        });

        $(document).on("click", ".color_btn", function() {
           let color = $(this).data("filter");
           $("input[name=Fk_Color]").val(color);

           $(".color_btn").removeClass("active-filter");

           resetProducts($(this));
        });

        function resetProducts(element) {
            if (element.data("filter") != "0") {
                element.addClass("active-filter");
            }
           LoadProducts();
        }

        function LoadProducts() {
          $.ajax({
                      type: 'get',
                      url: '@Url.ActionLink("GetProducts", "Product")',
                      data: {
                          fk_Category: $("input[name=Fk_Category]").val(),
                          fk_Size: $("input[name=Fk_Size]").val(),
                          fk_Color: $("input[name=Fk_Color]").val(),
                      },
                      beforeSend: function () {
                          $('#cover-spin').show();
                      },
                      complete: function () {
                          $('#cover-spin').hide();
                      },
                      success: function (data) {
                          let products = '';

                           if (data.length > 0) {
                               data.forEach(product => {
                                   products += `<div class="card-item mix">
                                         <a href="${product.imageUrl}" target="_blank" class="photo__item d-block w-100">
                                             <img src="${product.imageUrl}" alt="${product.name}" class="img-fluid" />
                                             <div class="des">
                                                 <h2>${product.name}</h2>
                                             </div>
                                         </a>
                                     </div>`;
                               });

                               $(".photo__gallery").html(products);
                           } else {
                               $(".photo__gallery").html(`<h3 style="padding-top: 40px;">@Setting.Get(Localizer.Get("NoContent"))</h3>`);
                           }
                      }
                  });
        }
    </script>
}