@model ContactForm
@{
    string active = (string)ViewBag.Active;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <meta name="keywords" content="@Localizer.Get("Smart lockers, Smart storage, e lockers, storage alternatives, office storage solutions, what is a smart locker, face recognition locker, touchless lockers, digital locker, smart locker companies ,locker technology")" />
    <meta name="description" content="@Localizer.Get("Streamlined operations and better access control make Diamond Lockers 1st for intelligent locker storage management in Saudi Arabia")" />
    
    <title>@ViewData["Title"] - @Localizer.Get("Diamond Lockers")</title>
    <link rel="icon" type="image/x-icon" href="~/assets/images/fav.png">
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link href="https://fonts.googleapis.com/css2?family=Cairo:wght@600&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Raleway:wght@400;500;600;700&display=swap"
          rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" />
    <link rel="stylesheet" href="~/assets/lib/lightGallery-master/lightGallery-master/dist/css/lightgallery.css" />
    @if (Localizer.Get("CultureState") == "ar")
    {
        <link rel="stylesheet" href="~/assets/styles/ar/styles.min.css" />
    }
    else
    {
        <link rel="stylesheet" href="~/assets/styles/en/styles.min.css" />
    }
    <style>

        @if (Localizer.Get("CultureState") == "ar")
        {
            <Text>
                * {
                    font-family: 'Cairo', sans-serif;
                }
            </Text>
        }

        .card-item a img {
            border: 2px solid #997757;
            border-radius: 20px;
            padding: 1px;
        }

    </style>
</head>
<body>
    <div class="lockers">

        <div class="menu">
            <div class="container">
                <nav class="navbar navbar-expand-xl navbar-light">
                    <a class="navbar-brand" asp-action="Index" asp-controller="Home">
                        <img src="~/assets/images/logo.png" alt="" class="img-fluid" />
                    </a>
                    <button class="navbar-toggler nav-icon" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span></span>
                        <span></span>
                        <span></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent">
                        <div class="mobile-logo">
                            <a asp-action="Index" asp-controller="Home">
                                <img src="~/assets/images/logo.png" alt=""
                                     class="img-fluid logo-mop d-xl-none d-lg-block" />
                            </a>
                        </div>

                        <ul class="navbar-nav mb-2 mb-lg-0">
                            <li class="nav-item">
                                <a class="nav-link @(active == "Home"? "active": "" )" aria-current="page" asp-action="Index" asp-controller="Home">@Localizer.Get("Home")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home" asp-fragment="features">@Localizer.Get("Features")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home" asp-fragment="services">@Localizer.Get("Services")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-action="Index" asp-controller="Home" asp-fragment="products">@Localizer.Get("Products")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link @(active == "About"? "active": "" )" asp-action="Index" asp-controller="Home" asp-fragment="about">@Localizer.Get("About Us")</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-fragment="contact">@Localizer.Get("Contact Us")</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-action="Culture" asp-controller="Home" asp-route-culture="@Localizer.Get("CultureVal")">@Localizer.Get("Culture")</a>
                            </li>
                        </ul>
                    </div>
                </nav>
            </div>
        </div>

        @RenderBody()

        <div id="contact" class="contact-us">
            <div class="container">
                <div class="main-touch">
                    <div class="text-center">

                        <div class="contact-photo">
                            <img src="~/assets/images/contact-photo.png" alt="" class="img-fluid" />
                        </div>

                    </div>
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="get-in-touch">
                                <h2>@Localizer.Get("Get in touch")</h2>
                                <h3>
                                    @Localizer.Get("Contact us today. Let us help you better manage your security, storage, and data.")
                                </h3>
                            </div>
                            <div class="ours-contact">

                                <div class="soical-contact">
                                    <img src="~/assets/images/mail.png" alt="" class="img-fluid" />
                                    <div class="des">
                                        <h2>@Localizer.Get("E-Mail")</h2>
                                        <a href="mailto:support@diamondlockers.com">support@diamondlockers.com</a>
                                    </div>
                                </div>
                                <div class="soical-contact">
                                        <img src="~/assets/images/location.png" alt="" class="img-fluid" />
                                        <div class="des">
                                            <h2>@Localizer.Get("Our Office Location")</h2>
                                            <p>
                                                @Localizer.Get("Riyadh"), <br />
                                                @Localizer.Get("Saudi Arabia")
                                            </p>
                                        </div>
                                    </div>
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <form asp-action="Contact" id="contactForm" class="main-form border border-2 border-dark rounded p-20">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <label asp-for="Type"> @Localizer.Get("Type")</label>
                                <select asp-for="Type" class="form-select" aria-label="Type">
                                    <option value="Individuals">@Localizer.Get("Individuals") </option>
                                    <option value="Companies">@Localizer.Get("Companies")</option>
                                </select>

                                <label asp-for="Name">
                                    @Localizer.Get("Name")
                                    <span class="text-danger"> *</span>
                                    <span asp-validation-for="Name" class="text-danger"></span>
                                </label>
                                <input type="text" asp-for="Name" class="form-control" placeholder="@Localizer.Get("Your Name")" required />

                                <label asp-for="Phone">
                                    @Localizer.Get("Phone")
                                    <span class="text-danger"> *</span>
                                    <span asp-validation-for="Phone" class="text-danger"></span>
                                </label>
                                <input type="tel" asp-for="Phone" class="form-control" placeholder="@Localizer.Get("Your Phone")" required />

                                <label asp-for="Email">
                                    @Localizer.Get("Email")
                                    <span class="text-danger"> *</span>
                                    <span asp-validation-for="Email" class="text-danger"></span>
                                </label>
                                <input type="email" asp-for="Email" class="form-control" placeholder="@Localizer.Get("Your Email")" required />

                                <label asp-for="Service">
                                    @Localizer.Get("Service")
                                </label>
                                <select asp-for="Service" class="form-select" aria-label="Service">
                                    <option value="Rent">@Localizer.Get("Rent")</option>
                                    <option value="Buy">@Localizer.Get("Buy")</option>
                                    <option value="Enquiry">@Localizer.Get("Enquiry")</option>
                                </select>

                                <label asp-for="Message">
                                    @Localizer.Get("Message")
                                    <span class="text-danger"> *</span>
                                    <span asp-validation-for="Message" class="text-danger"></span>
                                </label>
                                <textarea class="form-control" placeholder="@Localizer.Get("Message")" asp-for="Message" rows="3" required></textarea>

                                <button type="button" class="btn btn-primary text-white mb-10" onclick="formSubmit()">@Localizer.Get("Submit")</button>
                                <p id="successMsg" class="text-success">@Localizer.Get("Message sent successfully!")</p>
                                <p id="errorMsg" class="text-danger">@Localizer.Get("Something wrong please try again!")</p>
                                <p id="incompleteMsg" class="text-danger">@Localizer.Get("Please complete the form!")</p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copy-right">
            <div class="container">
                <p>© @DateTime.UtcNow.Year @Localizer.Get("Copyright. All Rights Reserved")</p>
            </div>
        </div>
    </div>

    <script src="~/assets/lib/jquery/jquery.min.js"></script>
    <script src="~/assets/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/assets/lib/lightGallery-master/lightGallery-master/dist/lightgallery.min.js"></script>
    <script src="~/assets/lib/mixitup/mixitup.min.js"></script>
    <!-- <script src="http://cdnjs.cloudflare.com/ajax/libs/waypoints/2.0.3/waypoints.min.js"></script>
      <script src="~/assets/lib/Counter-Up-master/jquery.counterup.min.js"></script> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Counter-Up/1.0.0/jquery.counterup.min.js"
            integrity="sha512-d8F1J2kyiRowBB/8/pAWsqUl0wSEOkG5KATkVV4slfblq9VRQ6MyDZVxWl2tWd+mPhuCbpTB4M7uU/x9FlgQ9Q=="
            crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"
            integrity="sha512-CEiA+78TpP9KAIPzqBvxUv8hy41jyI3f2uHi7DGp/Y/Ka973qgSdybNegWFciqh6GrN2UePx2KkflnQUbUhNIA=="
            crossorigin="anonymous"></script>
    <script src="~/assets/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

    <script type="text/javascript">
        $(function () {
            hideMessages();
        });

        function hideMessages() {
            $('#successMsg').hide();
            $('#incompleteMsg').hide();
            $('#errorMsg').hide();
        }
        function formSubmit() {

            var formId = "#contactForm";

            jQuery.validator.messages.required = "";

            if (!$(formId).valid()) {
                $('#incompleteMsg').fadeIn('slow');
                $('#incompleteMsg').delay(3000).fadeOut('slow');
                return;
            }

            //Set the URL.
            var url = $(formId).attr("action");

            var data = $(formId).serialize();

            $.ajax({
                type: 'POST',
                url: url,
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: data,
                success: function () {
                    $(formId)[0].reset();
                    $('#successMsg').fadeIn('slow');
                    $('#successMsg').delay(3000).fadeOut('slow');
                },
                error: function () {
                    $('#errorMsg').fadeIn('slow');
                    $('#errorMsg').delay(3000).fadeOut('slow');
                }
            })
        }
    </script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
