@using Entities.EnumData
@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SettingCreateOrEditModel
@{
    ViewData["Title"] = $"{Localizer.Get("CreateOrEdit")} {Localizer.Get("Setting")}";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.useForm = true;
    ViewBag.useImageUploud = true;
    ViewBag.useSummernote = true;
    ViewBag.formRepeater = true;
    
    int id = ViewData["id"] != null ? (int)ViewData["id"] : 0;
}
<!-- BEGIN: Content-->
<div class="app-content content ">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper container-xxl p-0">
        <div class="content-header row">
            <div class="content-header-left col-md-9 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-12">
                        <h2 class="content-header-title float-start mb-0">@ViewData["Title"]</h2>
                        <div class="breadcrumb-wrapper">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item">
                                    <a href="/InfluencerEntity/Setting/Index">@Localizer.Get("Settings")</a>
                                </li>
                                <li class="breadcrumb-item active">
                                    @ViewData["Title"]
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="content-body">
            <section id="multiple-column-form">
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <form class="form invoice-repeater" asp-action="CreateOrEdit" enctype="multipart/form-data">
                                    <div asp-validation-summary="All" class="text-danger">@ViewData["Error"]</div>
                                    <input type="hidden" asp-for="Key" />
                                    <input type="hidden" asp-for="Type" />
                                    <input type="hidden" asp-for="DisplayName" />
                                    <div class="row">
                                        
                                        <div class="col-md-12 col-12">
                                            <div class="mb-1">
                                                <label class="form-label">@Localizer.Get(Model.DisplayName)</label>
                                                @if (Model.Type == DBModelsEnum.SettingTypeEnum.Input)
                                                {
                                                    <input class="form-control" asp-for="@Model.Value" placeholder="@Model.DisplayName" type="text">
                                                }
                                                else if (Model.Type == DBModelsEnum.SettingTypeEnum.TextArea)
                                                {
                                                    <textarea asp-for="@Model.Value" class="form-control summernote"></textarea>
                                                }
                                                else if (Model.Type == DBModelsEnum.SettingTypeEnum.Boolean)
                                                {
                                                    <select asp-for="@Model.Value" class="form-control">
                                                        <option value="1">@Localizer.Get("Yes")</option>
                                                        <option value="0">@Localizer.Get("No")</option>
                                                    </select>
                                                }
                                                else if (Model.Type == DBModelsEnum.SettingTypeEnum.File)
                                                {
                                                    @if (!string.IsNullOrEmpty(Model.Value))
                                                    {
                                                        <span> <a target="_blank" href="/@Model.Value"> @Localizer.Get("Click To See")</a></span>
                                                    }
                                                    <input type="file" name="ImageFile" class="form-control">
                                                }
                                            </div>
                                        </div>

                                        @* <div class="col-md-12 col-12"> *@
                                        @*     <div class="mb-1"> *@
                                        @*         <label asp-for="Order" class="form-label"></label> *@
                                        @*         <input asp-for="Order" class="form-control" placeholder="@Localizer.Get("Enter") @(Localizer.Get("Order"))"/> *@
                                        @*         <span asp-validation-for="Order" class="text-danger"></span> *@
                                        @*     </div> *@
                                        @* </div> *@

                                        <hr/>
                                        <div class="col-12">
                                            <button type="submit" class="btn btn-primary me-1">@Localizer.Get("Submit")</button>
                                            <button type="reset" class="btn btn-outline-secondary me-1">@Localizer.Get("Reset")</button>
                                            <a asp-action="Index" class="btn btn-warning"> @Localizer.Get("Back") </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

        </div>

    </div>
</div>
<!-- END: Content-->